<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.FixClinicReservationMapper">

	<select id="selectAll" resultType="FixClinicReservationVO">
		select * from fix_clinic_reservation order by rtime asc
	</select>
	
	<select id="selectByDate" resultType="FixClinicReservationVO">
		select * from fix_clinic_reservation where rdate=#{rdate} order by rtime asc
	</select>
	
	<select id="selectByRno" resultType="FixClinicReservationVO">
		select * from fix_clinic_reservation where rno=#{rno}
	</select>
	
	<select id="selectByDateEno" resultType="FixClinicReservationVO">
		select * from fix_clinic_reservation where rdate=#{rdate} and eno=#{eno}
	</select>
	
	<insert id="register">
		insert into fix_clinic_reservation values(#{rno}, #{pno}, #{eno}, #{memo}, #{clinic}, #{rtype}, #{rdate}, #{rtime}, #{fix_day}, #{fix_day_start}, #{fix_day_end}, #{writer}, #{regdate}, #{updatedate}, #{updatewriter}, #{desk_state}, #{result}, #{result_memo})
	</insert>
	
	<update id="updateDeskState">
		update fix_clinic_reservation set desk_state='접수완료', result='접수완료' where rno=#{rno}
	</update>
</mapper>