<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.FkTestMapper">

	<select id="selectAll" resultType="FkTestVO">
		select empname, deptname from employee_test e, department_test d where e.dno=d.deptno
	</select>
	
</mapper>