<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.NormalClinicReservationMapper">

	<select id="selectAll" resultType="NormalClinicReservationVO">
		select * from normal_clinic_reservation order by rtime asc
	</select>
	
	<select id="selectByDate" resultType="NormalClinicReservationVO">
		select * from normal_clinic_reservation where rdate=#{rdate} order by rtime asc
	</select>
	
	<select id="selectByRno" resultType="NormalClinicReservationVO">
		select * from normal_clinic_reservation where rno=#{rno}
	</select>
	
	<select id="selectByDateEno" resultType="NormalClinicReservationVO">
		select * from normal_clinic_reservation where rdate=#{rdate} and eno=#{eno}
	</select>
	
	<insert id="register">
		insert into normal_clinic_reservation values(#{rno}, #{pno}, #{eno}, #{memo}, #{clinic}, #{rtype}, #{rdate}, #{rtime}, #{writer}, #{regdate}, #{updatedate}, #{updatewriter}, #{desk_state}, #{result}, #{result_memo})
	</insert>
	
	<update id="updateDeskState">
		update normal_clinic_reservation set desk_state=#{desk_state}, result=#{result} where rno=#{rno}
	</update>
	
	<update id="cancel">
		update normal_clinic_reservation set desk_state='예약취소', result='예약취소', result_memo=#{result_memo} where rno=#{rno}
	</update>
</mapper>