<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.PatientMapper">

	<select id="selectAll" resultType="PatientVO">
		select * from patient order by name desc
	</select>
	
	<select id="selectByName" resultType="PatientVO">
		select * from patient where name=#{name}
	</select>
	
	<select id="selectByPhone" resultType="PatientVO">
		select * from patient where phone=#{phone}
	</select>
	
	<sql id="search">
		<if test="searchType=='name'.toString()">
			where name like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='phone'.toString()">
			where phone like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='cno'.toString()">
			where cno like concat('%',#{keyword},'%')
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(pno) from patient <include refid="search"></include>
	</select>
</mapper>