<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.ReservationMapper">

	<select id="selectAll" resultType="ReservationVO">
		select * from reservation order by normal_rtime asc, fix_rtime asc
	</select>
	
	<select id="selectByDate" resultType="ReservationVO">
		select * from reservation where normal_date=#{normal_date} order by normal_rtime asc, fix_rtime asc;
	</select>
	
	<select id="selectByFixDay" resultType="ReservationVO">
		select * from reservation where fix_day=#{fix_day}
	</select>
	
	<select id="selectByRno" resultType="ReservationVO">
		select * from reservation where rno=#{rno}
	</select>
	
	<select id="selectByNormalDateEno" resultType="ReservationVO">
		select * from reservation where normal_date=#{normal_date} and eno=#{eno}
	</select>
	
	<select id="selectByFixDayEno" resultType="ReservationVO">
		select * from reservation where fix_day=#{fix_day} and eno=#{eno}
	</select>
	
	<insert id="register">
		insert into reservation values(#{rno}, #{pno}, #{eno}, #{memo}, #{clinic}, #{rtype}, #{normal_date}, #{normal_rtime}, #{fix_day}, #{fix_rtime}, #{fix_date}, #{fix_day_start}, #{fix_day_end}, #{writer}, #{regdate}, #{updatedate}, #{updatewriter}, #{desk_state}, #{therapist_state}, #{result})
	</insert>
	
</mapper>