<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.ReservationRecordMapper">

	<select id="selectAll" resultType="ReservationRecordVO">
		select * from reservation_record order by no desc;
	</select>
	
	<select id="listSearch" resultType="ReservationRecordVO">
		select * from reservation_record <include refid="search"></include> order by no desc limit #{pageStart},#{perPageNum}
	</select>
	
	<sql id="search">
		<if test="searchType=='name'.toString()">
			where name like concat('%',#{keyword},'%')
		</if>
		<if test="searchType=='phone'.toString()">
			where phone like concat('%',#{keyword},'%') 
		</if>
		<if test="searchType=='cno'.toString()">
			where cno like concat('%',#{keyword},'%')
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(no) from reservation_record <include refid="search"></include>
	</select>
	
	<insert id="register">
		insert into reservation_record values(0, #{pname}, #{ename}, #{rno}, #{rtype}, #{cname}, #{rdate}, #{rtime}, #{reception_info}, #{therapy_info}, #{register_info}, #{result})
	</insert>
	
	<update id="updateReceptionInfo">
		update reservation_record set reception_info=#{reception_info}, result=#{result} where rno=#{rno} and rtype=#{rtype}
	</update>
	
	<update id="updateTherapyInfo">
		update reservation_record set therapy_info=#{therapy_info}, result='치료완료' where rno=#{rno} and rtype=#{rtype}
	</update>
	
	
</mapper>