<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.ReservationMapper">

	<select id="selectAll" resultType="ReservationVO">
		select * from reservation order by rno desc
	</select>
	
	<select id="selectByDate" resultType="ReservationVO">
		select * from reservation where normal_date=#{normal_date}
	</select>
	
	<select id="selectByFixDay" resultType="ReservationVO">
		select * from reservation where fix_day=#{fix_day}
	</select>
	
	<select id="selectByRno" resultType="ReservationVO">
		select * from reservation where rno=#{rno}
	</select>
	
	<insert id="register">
		insert into reservation values(#{rno}, #{cno}, #{name}, #{phone}, #{birth}, #{gender}, #{memo}, #{clinic}, #{main_doctor}, #{main_therapist}, #{rtype}, #{normal_date}, #{normal_rtime}, #{fix_day}, #{fix_rtime}, #{fix_day_start}, #{fix_day_end}, #{writer}, #{regdate}, #{updatedate}, #{updatewriter})
	</insert>
	
</mapper>